extends layout

block content
    #mobile
        form(action='/start',method='post')
            input(id='email',type='text',value='',placeholder='mtg-name-here',name='name') 
            input(type='submit',value='Start') 

    script.
        $(window).load(function() {  
        
            

        });   